#stories_before {
  min-height: 305px;
  height: auto;
}

.menu-objet-nom {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    /*à retirer si ardoise n'est pas présente*/
    text-align: center;
  }
